@model List<Gestion_de_pedidos.Models.Cliente>

@{
    ViewData["Title"] = "Clientes del Comercial";
}

<div class="container mt-4">
    <h2>Clientes relacionados con el comercial: <strong>@ViewBag.NombreComercial</strong></h2>
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido 1</th>
                <th>Apellido 2</th>
                <th>Ciudad</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido1</td>
                    <td>@cliente.Apellido2</td>
                    <td>@cliente.Ciudad</td>
                    <td>@cliente.Categoria</td>
                    <td>
                    <form asp-action="PedidosDelCliente" method="get" class="d-inline">
                        <input type="hidden" name="id" value="@cliente.Id" />
                        <button class="btn btn-info btn-sm" type="submit">Ver Pedidos</button>
                    </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" class="btn btn-secondary mt-3">Volver</a>
</div>
